ul li a{
	text-decoration:none;
	border:1px  lightblue;
	color:black;
	padding:2px 2px;
	margin:3px 3px;
	float:right;
	text-transform:uppercase;
	overflow:visible;
	background-color:none;
	}	
body{
	color:green;
	text-decoration:none;
	font-family:verdana;
}
ul li a:hover{
	background-color:red;
	color:white;
}
div .right{
	background-color:white;
	color:white;
}
.main ul{
	  list-style: none;
}
.main li{
  display: inline;
}
.main marquee{
	color:white;
	background-color:red;
	padding:2px;
}
b{
	text-align:center;
	float:center;
	font-family:verdana;
}
h5{
	text-align:left;
	padding:3px 3px;
	border:1px solid red;
}
h2{
	text-align:center;
	padding:3px 3px;
	font-family:verdana;

}
h3{
	text-align:center;
	padding:3px 3px;
	font-family:verdana;


}
footer{
	text-align:center;
	font-family:verdana;
}
img{
	border:1px solid white;
	margin:3px 3px;
}
h4{
	text-align:center;
}